@import "tailwindcss";

:root {
  --color-black: #000000;
  --color-graphite: #1A1A1A;
  --color-emerald: #3cb371;
}

body {
  background-color: var(--color-black);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}


/* You can add more specific styles here to apply the colors to different sections */
/* For example: */
/* .navbar { background-color: var(--color-graphite); } */
/* .hero { color: var(--color-emerald); } */
/* .footer { background-color: var(--color-graphite); } */